.hamburger{
  display: none;
  @include respond(big-phone){
    display: block;
  }
  &__box{
    cursor: pointer;
    height: max-content;
    display: flex;
    flex-direction: column;
    row-gap: .7rem;
    align-items: flex-end;
    transition: .5s ease-in-out;
    .line{
      width: 3rem;
      z-index: 15;
      height: 2px;
      border-radius: 4px;
      background-color: $color_secondary;
      transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
      transform: rotate(0deg);
      &:first-child{
        width: 4rem;
      }
      &:last-child{
        width: 2rem;
      }
    }
    &.hamburger-active{
      display: block;
      position: relative;
      transform: rotate(225deg);
      z-index: 19;
      .line{
        &:first-child{
          width: 2.5rem;
          transform: rotate(-90deg);
        }
        &:last-child{
          width: 2.5rem;
          transform: rotate(0deg);
        }
        &:nth-child(2){
          background-color: red;
          display: none;
        }
      }
    }
  }
  &__container{
    position: fixed;
    background-color: $color_primary;
    height: 100vh;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 1rem;
    width: 400px;
    transform: translateX(100vw);
    visibility: hidden;
    z-index: 9;
    box-shadow: -10px 0px 30px -15px $color_primary;
    transition: .5s;
    &--links{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        list-style: none;
        li{
            a{
                text-decoration: none;
                color: inherit;
                font-size: inherit;
            }
        }
    }
    &.hamburger-active{
      transform: translateX(0vw);
      visibility: visible;
    }
  }
}
