#loader{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    .pulse-container {
      width: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .pulse-bubble {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $color_secondary;
      &-1{
        animation: pulse .4s ease 0s infinite alternate;
      }
      &-2{
        animation: pulse .4s ease .2s infinite alternate;
      }
      &-3{
        animation: pulse .4s ease .4s infinite alternate;
      }
    }
}
