.project-modal{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba($color: black, $alpha: .6);
  display: flex;
  justify-content: center;
  align-items: center;

  .close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: transparent;
    color: white;
    font-size: 3rem;
    border: none;
    font-weight: 700;
    cursor: pointer;
    z-index: 13;
  }

  &__container{
    background-color: $color_primary_light;
    width: 40%;
    height: 83%;
    border-radius: 4px;
    @include respond(desktop){
      width: 50%;
    }
    @include respond(tablet){
      width: 85%;
      height: 85%;
    }
    @include respond(big-phone){
      width: 90%;
      height: 90%;
    }
    &--slideshow{
      height: 45%;
      width: 100%;
      background-color: red;
      transition: .3s ease-in;
      @include respond(big-phone){
        height: 25%;
      }
      
      #project-slideshow__container{
        height: 100%;
        transition: display 1s ease-in;
      }

      .slide{
        position: relative;
        height: inherit;
        overflow: hidden;
        transition: 1s ease-in;
        height: 100%;
        img{
          height: 100%;
          width: 100%;
        transition: display 1s ease-in;
        }
        .title {
        transition: display 1s ease-in;
          width: 100%;
          height: 100%;
          background-color: rgba($color: black, $alpha: .4);
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.6rem;
          font-family: $font_body;
          font-weight: 600;
          color: white;
        }
      }
      #dots{
        width: 100%;
        height: 100%;
        display: flex;
        margin-top: -2%;
        justify-content: center;
        column-gap: 1rem;
        @include respond(big-phone){
          margin-top: -5%;
        }
        .dot{
          cursor: pointer;
          z-index: 2;
          height: 1rem;
          width: 1rem;
          margin: 0 2px;
          border: 1px solid white;
          border-radius: 50%;
          transition: background-color 0.3s ease;
        }
      }

       .active, .dot:hover {
        background-color: #717171;
      }
    }
    &--description{
      display: grid;
      max-height: 55%;
      overflow: auto;
      padding: 2rem 3rem;
      transition: .3s ease-in;
      @include respond(big-phone){
        max-height: 75%;
      }
      p, ul{
        font-size: 1.4rem;
        color: $color_text;
        line-height: 1.5;
      }
      ul{
        font-size: 1.2rem;
        margin-left: 3rem;
        li{
          margin-top: .4rem;
        }
      }

      .project-heading-2{
          font-size: 2.8rem;
          width: 100%;
          color: $color_text;
          font-weight: 600;
      }

      .project-heading-3{
          font-size: 1.8rem;
          width: 100%;
          color: $color_text;
          font-weight: 700;
      }

      .project-heading-4{
          font-size: 1.6rem;
          width: 100%;
          color: $color_text;
          font-weight: 600;
      }
    }
  }
}
