$color_primary: #26282B;
$color_primary_light: #2A2C2F;

$color_secondary: #5F85DB;

$color_text: #CCD6F6;
$color_text_tertiary: #8892B0;

$font_body: 'Inter', sans-serif;
$font_sec: 'Space Mono', sans-serif;
